/* Fonts */

/* font-family: 'Finlandica', sans-serif; */


/* Global */

.page-body {
    min-width: 960px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1188px;
    margin: 0 auto;
    padding: 0 10;
}

/* Header */

.page-header {
    /* background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 690px; */
}

.wrapper-header {}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-family: 'Finlandica', sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
    color: #000000;

}

.header-list {
    list-style: none;
    font-family: 'Finlandica', sans-serif;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #1f312c;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 80px;
}

.main-bg {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
}

/* Promo */

.wrapper-promo {
    padding: 50px 20px;

}

.promo-title {
    font-family: 'Finlandica', sans-serif;
    font-size: 40px;
    line-height: 33px;
    font-weight: 500;
    color: #1f312c;
}

.promo-text {
    font-family: 'Finlandica', sans-serif;
    /* font-family: Helvetica; */
    font-size: 24px;
    font-weight: 400;
}

.promo-text-end {
    font-family: 'Finlandica', sans-serif;
    /* font-family: Helvetica; */
    font-size: 30px;
    font-weight: 400;
    font-size: 30px
}

/* Footer */

.page-footer {
    background-color: #e3e5eb;
    font-family: 'Finlandica', sans-serif;
    font-size: 17px;
    line-height: 21px;
}

.wrapper-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    padding-top: 30px;
}

.footer-nav {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.footer-nav-list {
    font-family: 'Finlandica', sans-serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #1f312c;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 37px;
}

.footer-contact {

    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.footer-contact-list {
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.footer-contact-item {
    align-self: self-end;
    font-family: 'Finlandica', sans-serif;
    /* font-family: Helvetica; */
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #1f312c;
}

.footer-contact-title {
    font-family: Finlandica;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 500;
    color: #000000;
}

.footer-copy {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    justify-self: center;
}